.submit-button{
  border: 0;
width: 300px;
  height: 50px;
  background: #e1ab05;
  cursor: pointer;

}

.button-title {
  font-size:18px;
  color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

input {
    color: #ffffff;
  background: 0;
  font-size:18px;
  padding:10px 0;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #ffffff;
}
input:focus { outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#fff; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#ffffff;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#ffffff; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#fff; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#fff; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#fff; }
  to 	{ width:0; background:transparent; }
}

.header {
  padding: 15px 35px;
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
  border-bottom: 2px solid #e1ab05;
}

.logo {
  height: 120px;
  width: 120px;
}

.banner-wrap {
  width: 100%;
  height: 600px;
  background: url('./assets/bitcoach-map.png') no-repeat center top;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.title-wrap {
    text-align: center;
    margin-right: 100px;
}

.title {
color: #fff;
font-weight: 700;
font-size: 35px;
margin-bottom: 15px;

}

.text {
color: #fff;
font-weight: 200;
font-size: 20px;
width: 500px;
text-align: center;
}


.body-title-wrap {
    text-align: center;
    padding: 4rem 3rem 2rem 3rem
}

.body-title {
color: #e1ab05;
font-weight: 700;
font-size: 35px;
    margin: 0 0 1rem 0;

}

.body-text {
    color: #656565;
    font-weight: 200;
    font-size: 20px;
    width: 500px;
    text-align: center;
    margin: 0 auto 2rem;
}

.circle-bar-wrap {
  display: flex; 
  justify-content: center;
}

.circle-bar {
    display: inline-flex;
    cursor: default;
    list-style: none;
    padding-left: 0;
 margin: 0 0 2rem 0;   
}

li {
    padding-left: 3.25rem;
}

li:first-child {
padding-left: 0;
}

.circle, .first-circle {
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin: 0 0 1rem 0;
    text-align: center;   
    border-bottom: none;
    border: solid 1px #d5d5d5;
    font-size: 2rem;
    width: 7.25rem;
    height: 7.25rem;
    line-height: 5.25rem;
    border-radius: 5.25rem;
}


.circle:after {
    background-color: #d5d5d5;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -3.25rem;
    width: 3.25rem;
    height: 1px;
}

.circle-icon {
    width: 60px;

    position: absolute;
    top: 25px;
    right: 25px;
}

.circle-title {
    font-size: 1rem;
    margin: 0 0 1rem 0;
    color: #656565;
    text-align: center;
}



.footer-wrap {
  background: #09245D;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.copy-rigth {
    color: #fff;
}
.social-wrap {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.social-logo {
  height: 25px;
  width: 25px;
}

